// media
.media {
  height: 438px;
}

.media__inner {
  position: relative;
}

.media__img-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.media__img {
  height: 300px;
  width: 525px;
}

.media__body {
  background-image: url("../img/bg.png");
  height: 381px;
  left: 367px;
  padding-left: 238px;
  padding-top: 60px;
  position: absolute;
  top: 57px;
  width: 813px;
}

.media__body > .media__title {
  margin-bottom: 52px;
}

.media__body > .media__text {
  margin-bottom: 52px;
}

.media__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.media__text {
  line-height: 2.0;
}

.media__note-text {
  font-size: .875rem;
  line-height: 1.5;
}

.media--reverse .media__img-wrapper {
  left: 654px;
}

.media--reverse .media__body {
  left: 0;
  padding-left: 60px;
}
