@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 100%;
}

body {
  color: #000;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

.footer {
  margin-left: auto;
  margin-right: auto;
}

.footer__top {
  background-image: url("/assets/img/bg3.png");
  background-size: cover;
  padding-bottom: 61px;
  padding-top: 64px;
}

.footer__top > .footer__list {
  margin-bottom: 96px;
}

.footer__top > .footer__logo {
  margin-bottom: 72px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
}

.footer__item {
  display: inline-block;
  font-size: 1.125rem;
  letter-spacing: 0.875rem;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer__list > .footer__item {
  margin-left: 34px;
}

.footer__list > .footer__item:last-child {
  margin-left: 0;
}

.footer__info {
  text-align: center;
}

.footer__info > .footer__info-address {
  margin-bottom: 23px;
}

.footer__bottom {
  background-color: #000;
}

.footer__bottom > .footer__copyright {
  padding-bottom: 23px;
  padding-top: 23px;
}

.footer__copyright {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}

.header {
  padding: 20px;
  background: transparent;
}

.header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-text {
  margin-left: 15px;
  font-size: 2rem;
}

.header__left > .header__logo {
  margin-right: 120px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list > .header__item {
  margin-right: 30px;
}

.header__list > .header__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 414px) {
  .header {
    padding: 10px;
  }

  .header__list {
    display: none;
  }

  .header__left > .header__logo {
    margin-right: 0;
  }

  .header__logo-text {
    font-size: 1.5rem;
  }
}
.top {
  background-position: center center;
  background-size: cover;
}

.top--room {
  background-image: url("../img/oheya-header.png");
}

.top--dish {
  background-image: url("../img/menu-header.png");
}

.top--bath {
  background-image: url("../img/onsen-header.png");
}

.top__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 233px;
  padding-top: 233px;
}

.top__title {
  color: #fff;
  font-size: 2.125rem;
  text-align: center;
}

.detail__inner {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 150px;
}

.detail__inner > .breadcrumb {
  margin-bottom: 98px;
}

.detail__inner > .detail__text {
  line-height: 2;
  margin-bottom: 78px;
}

.detail__content > .horizontal-table {
  margin-right: auto;
  margin-left: auto;
}

.detail__text {
  text-align: center;
}

.detail__content > .diagonal-media {
  margin-bottom: 84px;
}

.detail__content > .diagonal-media:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 414px) {
  .detail__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .detail__inner > .detail__text {
    padding-right: 20px;
    padding-left: 20px;
  }

  .detail__content > .diagonal-media {
    margin-bottom: 20px;
  }

  .detail__content > .diagonal-media:last-child {
    margin-bottom: 0;
  }
}
.fv {
  background-image: url("../img/mainbg01.jpg");
  background-size: cover;
  background-position: center center;
}

.fv__inner {
  padding-bottom: 431px;
  padding-top: 362px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fv__title {
  color: #fff;
  font-size: 2.125rem;
  letter-spacing: 16px;
  line-height: 2.5;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: translateX(-155px);
          transform: translateX(-155px);
}

@media screen and (max-width: 414px) {
  .fv__title {
    margin-left: auto;
    margin-right: auto;
  }

  .fv__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fv__title {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.about {
  background-image: url("../img/bg.png");
  background-size: cover;
}

.about__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  padding-top: 64px;
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about__inner > * {
  margin-left: 118px;
}

.about__inner > *:last-child {
  margin-left: 0;
}

.about__title {
  font-size: 1.75rem;
  letter-spacing: 0.875rem;
  line-height: 2.17857;
  font-weight: normal;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.about__text {
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2.375;
  padding-top: 85px;
  letter-spacing: 0.375rem;
}

.about__end-text {
  font-size: 1.375rem;
  letter-spacing: 0.625rem;
  text-align: right;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.about__title > span::after {
  content: "";
  margin-bottom: 85px;
}

@media screen and (max-width: 1024px) {
  .about__inner > * {
    margin-left: 60px;
  }
}
@media screen and (max-width: 414px) {
  .about__inner {
    padding: 40px 10px;
    display: block;
  }

  .about__inner > * {
    margin-left: 0;
  }

  .about__title {
    font-size: 1.375rem;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }

  .about__text {
    letter-spacing: 0;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    padding-top: 0;
  }

  .about__inner > .about__title {
    margin-bottom: 20px;
  }

  .about__inner > .about__text {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .about__end-text {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}
.content__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 78px;
  padding-top: 106px;
}

.content__inner > .media {
  margin-bottom: 122px;
}

.content__inner > .media:last-child {
  margin-bottom: 0;
}

.content__inner .media__title {
  margin-bottom: 75px;
}

.content__inner .media__text {
  margin-bottom: 75px;
}

.content__inner *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .content__inner .media__title {
    margin-bottom: 30px;
  }

  .content__inner .media__text {
    margin-bottom: 30px;
  }

  .content__inner *:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 414px) {
  .content__inner > .media {
    margin-bottom: 60px;
  }

  .content__inner .media__title {
    margin-bottom: 50px;
  }

  .content__inner .media__text {
    margin-bottom: 50px;
  }
}
.plan {
  background-image: url("../img/bg02.png");
  background-size: cover;
}

.plan__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 144px;
  padding-top: 60px;
  max-width: 1180px;
}

.plan__inner > .section-title {
  margin-bottom: 66px;
}

@media screen and (max-width: 1024px) {
  .plan__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 414px) {
  .plan__inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.news__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  max-width: 1180px;
}

.news__inner > .section-title {
  margin-bottom: 46px;
}

.news__inner > .news__link-list {
  margin-bottom: 49px;
}

.news__link-list {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__link-item {
  margin-right: 53px;
}

.news__link-list > .news__link-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .news__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 414px) {
  .news__inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.access {
  background-image: url("../img/bg.png");
  background-size: cover;
}

.access__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  padding-bottom: 110px;
  padding-top: 60px;
}

.access__inner > .section-title {
  margin-bottom: 84px;
}

.access__inner > .media {
  margin-bottom: 69px;
}

.access__inner .media__text {
  margin-bottom: 24px;
}

.access__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .access__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 414px) {
  .access__inner {
    padding-right: 10px;
    padding-left: 10px;
  }

  .access__inner .media__sub-title {
    margin-bottom: 0;
  }
}
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-title > .section-title__img {
  margin-bottom: 20px;
}

.section-title__text {
  font-size: 2rem;
}

.before-icon-btn {
  background-color: #978f10;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  padding: 16px 37px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 170px;
}

.before-icon-btn:focus,
.before-icon-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #978f10;
}

.before-icon-btn::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  margin-right: 10px;
}

.before-icon-btn--calendar::before {
  content: "";
}

.breadcrumb__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.breadcrumb__list > .breadcrumb__item {
  margin-left: 5px;
}

.breadcrumb__list > .breadcrumb__item:last-child {
  margin-left: 0.2em;
}

.btn {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  max-width: 100%;
  padding: 20px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 170px;
}

.btn:focus,
.btn:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.diagonal-media {
  height: 438px;
}

.diagonal-media__inner {
  position: relative;
}

.diagonal-media__img-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 525px;
}

.diagonal-media__img {
  width: 100%;
}

.diagonal-media__body {
  background-image: url("../img/bg.png");
  height: 381px;
  right: 0;
  padding-left: 238px;
  padding-top: 60px;
  position: absolute;
  top: 57px;
  width: 813px;
}

.diagonal-media__body > .diagonal-media__title {
  margin-bottom: 52px;
}

.diagonal-media__body > .diagonal-media__text {
  margin-bottom: 52px;
}

.diagonal-media__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.diagonal-media__text {
  line-height: 2;
}

.diagonal-media__note-text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.diagonal-media--reverse .diagonal-media__img-wrapper {
  left: unset;
  right: 0;
}

.diagonal-media--reverse .diagonal-media__body {
  right: unset;
  left: 0;
  padding-left: 60px;
}

@media screen and (max-width: 1024px) {
  .diagonal-media {
    position: relative;
    display: block;
    width: 100%;
    height: 414px;
  }

  .diagonal-media__img-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .diagonal-media__img {
    height: 414px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }

  .diagonal-media__body {
    position: absolute;
    width: 100%;
    background: transparent;
    top: 40px;
    left: 0;
    color: #fff;
    width: auto;
    height: auto;
    z-index: 2;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .diagonal-media__title {
    font-size: 1.375rem;
  }

  .diagonal-media__body > .diagonal-media__title {
    margin-bottom: 50px;
  }

  .diagonal-media__body > .diagonal-media__text {
    margin-bottom: 50px;
  }

  .diagonal-media--reverse .diagonal-media__img-wrapper {
    left: 0;
  }

  .diagonal-media--reverse .diagonal-media__body {
    left: 0;
    padding-left: 20px;
  }
}
.horizontal-table {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding-bottom: 74px;
  padding-top: 95.5px;
}

.horizontal-table__inner {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  width: 100%;
}

.horizontal-table__title {
  font-weight: normal;
  margin-bottom: 51.5px;
  text-align: center;
}

.horizontal-table__header {
  border-bottom: 1px solid #e7e7e7;
  font-weight: normal;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  width: 20%;
}

.horizontal-table__text {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px;
}

.horizontal-table__row:last-child .horizontal-table__header,
.horizontal-table__row:last-child .horizontal-table__text {
  border-bottom-width: 0;
}

.media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 7.13542%;
}

.media__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54.6875%;
          flex: 0 1 54.6875%;
}

.media__img {
  width: 100%;
}

.media__title {
  font-size: 2.25rem;
  font-weight: normal;
}

.media__text {
  line-height: 2;
}

.media--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .media {
    gap: 5.13542%;
  }

  .media__img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.6875%;
            flex: 0 1 48.6875%;
  }

  .media__title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 414px) {
  .media {
    position: relative;
    display: block;
    height: 490px;
  }

  .media__img-wrapper {
    position: absolute;
    top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .media__img {
    overflow: hidden;
    height: 490px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .media__body {
    width: 100%;
    position: absolute;
    height: 490px;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .media__title {
    font-size: 1.375rem;
  }

  .media__btn {
    color: #fff;
    border-color: #fff;
  }
}
.card {
  background-color: transparent;
}

.card__img-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.card__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.card__body {
  padding-top: 32px;
}

.card__title {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 36px;
}

.card__text {
  line-height: 2;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

.cards--col3 {
  margin-bottom: -30px;
}

.cards--col3 > .cards__item {
  margin-bottom: 30px;
  margin-right: 7.95935%;
  width: 28.02709%;
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .cards--col3 {
    margin-bottom: -20px;
  }

  .cards > .cards__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.grayback-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 10px;
}

.grayback-media__img-wrapper {
  margin-right: 5.26315%;
}

.grayback-media__img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
}

.grayback-media__body > *:last-child {
  margin-bottom: 0;
}

.grayback-media__title {
  font-size: 2.25rem;
  font-weight: normal;
}

.grayback-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grayback-medias--col2 {
  margin-bottom: -20px;
}

.grayback-medias--col2 > .grayback-medias__item {
  margin-bottom: 20px;
  margin-right: 3.87858%;
  width: 48.0607%;
}

.grayback-medias--col2 > .grayback-medias__item:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .grayback-medias > .grayback-medias__item {
    width: 100%;
    margin-right: 0;
  }
}
/*# sourceMappingURL=bundle.css.map */