@use "../core/variables";

// content
.content__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 78px;
  padding-top: 106px;
}

.content__inner > .media {
  margin-bottom: 122px;
}

.content__inner > .media:last-child {
  margin-bottom: 0;
}

.content__inner .media__title {
  margin-bottom: 75px;
}

.content__inner .media__text {
  margin-bottom: 75px;
}

.content__inner *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: variables.$tb) {
  .content__inner .media__title {
    margin-bottom: 30px;
  }
  
  .content__inner .media__text {
    margin-bottom: 30px;
  }
  
  .content__inner *:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: variables.$sp) {
  .content__inner > .media {
    margin-bottom: 60px;
  }

  .content__inner .media__title {
    margin-bottom: 50px;
  }
  
  .content__inner .media__text {
    margin-bottom: 50px;
  }
}
