@use "../core/variables";

// detail
.detail__inner {
  max-width: variables.$container-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 150px;
}

.detail__inner > .breadcrumb {
  margin-bottom: 98px;
}

.detail__inner > .detail__text {
  line-height: 2.0;
  margin-bottom: 78px;
}

.detail__content > .horizontal-table {
  margin-right: auto;
  margin-left: auto;
}

.detail__text {
  text-align: center;
}

.detail__content > .diagonal-media {
  margin-bottom: 84px;
}

.detail__content > .diagonal-media:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: variables.$sp) {
  .detail__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .detail__inner > .detail__text {
    padding-right: 20px;
    padding-left: 20px;
  }

  .detail__content > .diagonal-media {
    margin-bottom: 20px;
  }
  
  .detail__content > .diagonal-media:last-child {
    margin-bottom: 0;
  }
}