@use "../core/variables";

// header
.header {
  padding: 20px;
  background-color: rgba(255,255,255,.80);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 3s;
}

.header.hidden {
  display: none;
}

.header.fixed {
  display: block;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__left {
  align-items: center;
  display: flex;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__logo-text {
  margin-left: 15px;
  font-size: 2.0rem;
}

.header__left > .header__logo {
  margin-right: 120px;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__list > .header__item {
  margin-right: 30px;
}

.header__list > .header__item:last-child {
  margin-right: 0;
}

.header__right {
  align-items: center;
  display: flex;
}

@media screen and (max-width: variables.$sp) {
  .header {
    padding: 10px;
  }

  .header__list {
    display: none;
  }

  .header__left > .header__logo {
    margin-right: 0;
  }

  .header__logo-text {
    font-size: 1.5rem;
    margin-left: 5px;
  }
}