@use "../core/variables";

// news
.news__inner {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  max-width: variables.$container-width;
}

.news__inner > .section-title {
  margin-bottom: 46px;
}

.news__inner > .news__link-list {
  margin-bottom: 49px;
}

.news__link-list {
  list-style: none;
  justify-content: center;
  display: flex;
}

.news__link-item {
  margin-right: 53px;
}

.news__link-list > .news__link-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: variables.$tb) {
  .news__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: variables.$sp) {
  .news__inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}